:root {
    --primaryColor: #FFDB5E;
}

* {
    box-sizing: border-box;
    font-family: 'indy pimp';
    font-weight: 700;
}

html {
    background-color: #4AD0E280;
    
}

@mixin button ($width, $height, $bg-color, $br, $b-color){
    width: $width;
    height: $height;
    background: $bg-color;
    border: 5px solid $b-color;
    border-radius: $br;
    font-size: 55px;
    text-align: center;
    letter-spacing: 0.1em;
}

@mixin card {
    width: 397px;
    height: 530px;
    background: var(--primaryColor);
    border: 9px solid #FEFEFF;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h3 {
        margin: 15px 0 5px 0;
    }
   
}

@mixin header ($f-s, $f-c) {
    width: 1495px;
    height: 166px;
    
    font-size: $f-s;
    text-align: center;
    letter-spacing: 0.1em;
    color: $f-c;
}

@mixin navButton () {
    width: 47px;
    height: 30px;
    text-decoration: none;
    font-size: 110px;
    line-height: 127px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--primaryColor);

}

.cloud, .right{
    width: 534px;
    height: 165px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.entityImage {
    width: 349px;
    height: 219px;
    background: #FEFEFF;
}

button {
    @include button(291px, 86.06px, var(--primaryColor), 30px, #000000);
}

.card {
    @include card();
}

.down {
    position: absolute;
    transform: matrix(-1, 1);
    @include navButton();
}

.up {
    @include navButton();
}

h1 {
    @include header(110px, var(--primaryColor))
}

h3 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}

.cardStats {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}
