:root {
    --primaryColor: #FFDB5E;
    --secondaryColor: #7948AC;
    --backgroundColor: #4AD0E280;
    --modalBackgroundColor: #4AD0E254;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'indy pimp';
    font-weight: 700;
}

html {
    background-color: var(--backgroundColor);
}

@keyframes slideLeft {
    from {
        position: relative;
        right: 0px;
    }
    to {
        position: relative;
        right: 5%;
        }
}

@keyframes slideRight {
    from {
        position: relative;
        left: 0px;
    }
    to {
        position: relative;
        left: 5%;
        }
}

@mixin button ($width, $height, $bg-color, $br, $b-color){
    width: $width;
    height: $height;
    background: $bg-color;
    border: 5px solid $b-color;
    border-radius: $br;
    font-size: 55px;
    text-align: center;
    letter-spacing: 0.1em;
}

@mixin card {
    width: 397px;
    height: 530px;
    background: var(--primaryColor);
    border: 9px solid #FEFEFF;
    border-radius: 40px;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all .2s ease-in-out;

    h3 {
        margin: 15px 0 5px 0;

    }

    &:hover {
        border-color: var(--secondaryColor);
        transform: scale(1.1);
        box-shadow: (11px 12px 21px #7948AC28);
    }
   
}

@mixin header ($f-s, $f-c) {
    width: 1495px;
    height: 166px;
    
    font-size: $f-s;
    text-align: center;
    letter-spacing: 0.1em;
    color: $f-c;
}

@mixin navButton () {
    width: 47px;
    height: 30px;
    text-decoration: none;
    font-size: 110px;
    line-height: 127px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--primaryColor);
    transition: all .2s ease-in-out;

    &:hover {
        color: var(--secondaryColor);
    }

}

@mixin screenOverlay($bg) {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $bg;
}

@mixin modalBoxOutline($bg) {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid #000000;
    border-radius: 60px;
    background-color: $bg ;
}

@mixin modalBox(){
    height: 95%;
    width: 95%;
    padding: 30px;
    background: #FEFEFF;
    border: 10px solid #000000;
    border-radius: 30px;
    display: flex;
}

@mixin form($rangeWidth){
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 20vh;
        margin: 30px;
        
        .formInput{
            display: flex;
            flex-direction: column;
        }

        .rangeInput {
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 740px) {
                flex-direction: column;
            }

            .range{
                width: $rangeWidth;
                @media only screen and (max-width: 740px) {
                    position: relative;
                    left: 30%;
                    transform: rotate(90deg);
                    width: 15%;
                }
            }
        }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 90px 0 90px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 45px 90px 45px 90px;
}

.right{
    width: 534px;
    height: 165px;
    transform: scaleX(-1);
}

.entityImage {
    width: 349px;
    height: 219px;
    background: #FEFEFF;
}

button {
    @include button(291px, 86.06px, var(--primaryColor), 30px, #000000);
}

.card {
    @include card();
}

.down {
    @include navButton();
    transform: scaleX(-1);
    transform: scaleY(-1);
    position: relative;
    top: 20px;
}

.up {
    @include navButton();
    position: relative;
    bottom: 20px;
}

h1 {
    @include header(110px, var(--primaryColor))
}

h3 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}

.cardStats {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}

.cardArray {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cloud.left {
    animation: slideRight 5s infinite;
    animation-direction: alternate;
}

.cloud.right {
    animation: slideLeft 5s infinite;
    animation-direction: alternate;
}

.modalBackground {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    @include screenOverlay(var(--modalBackgroundColor));

    .modalBoxOutline,  .add {
        @include modalBoxOutline(var(--primaryColor));

        .modalBox {
            @include modalBox();

            .duckleft {
                height: 40%;
            }
        }
    }
}


#createBird {
  @include form(50%);
}

#maintainFrame {
    display: none;
}


.hide {
    display: none;
}